## Session Setup

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read Inside Airbnb data") \
    .getOrCreate()

### Loading Data

In [2]:
listings = spark.read.csv("../data/listings.csv.gz", 
    header=True,
    inferSchema=True,
    sep=",", 
    quote='"',
    escape='"', 
    multiLine=True,
    mode="PERMISSIVE" 
)

### Dataframe Schema

In [3]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: timestamp (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: timestamp (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: timestamp (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- availability_eoy: integer (nullable = true)
 |-- number_of_reviews_ly: integer (nullable = true)
 |-- estimated_occupancy_l365d: integer (nullable = true)
 |-- estimated_revenue_l365d: integer (nullable = true)
 |-- first_review: timestamp (nullable = true)
 |-- last_review: timestamp (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [4]:
# 1. Get a non-null picture URL for any property ("picture_url" field)
# Select any non-null picture URL
listings.filter(
    listings.picture_url.isNotNull()
) \
.select('picture_url') \
.limit(1) \
.show(truncate=False)

+----------------------------------------------------------------------------------------------------------+
|picture_url                                                                                               |
+----------------------------------------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/hosting/Hosting-264776/original/3cc7b93f-dbda-4ded-ac15-e9d96691e7ca.jpeg|
+----------------------------------------------------------------------------------------------------------+

In [5]:
# 2. Get number of properties that get more than 10 reviews per month
listings.filter(
  listings.reviews_per_month > 10
) \
.count()

57

In [6]:
# 3. Get properties that have more bathrooms than bedrooms
listings.filter(
    (listings.bathrooms > listings.bedrooms)
) \
.select('name', 'bathrooms', 'bedrooms') \
.show(10, truncate=False)

+--------------------------------------------------+---------+--------+
|name                                              |bathrooms|bedrooms|
+--------------------------------------------------+---------+--------+
|Central London with Stunning Views!               |1.5      |1       |
|Also five minutes to South Bank                   |1.5      |1       |
|Battersea live/work artist house                  |1.5      |1       |
|Large double bedroom in Shoreditch w/garden       |1.5      |1       |
|Bedroom In Great Location Stratford               |1.5      |1       |
|Spacious luxury 2 bedroom apartment               |1.5      |1       |
|Very Central! Bayswater Apartment                 |2.0      |1       |
|Room in London with a family                      |1.5      |1       |
|Stunning large room (double sofa bed), Hackney, E9|1.5      |1       |
|Cosy Double studio in Zone 2 Hammersmith (1)      |1.5      |1       |
+--------------------------------------------------+---------+--------+
only showing top 10 rows

In [7]:
# 4. Get properties where the price is greater than 5,000. Collect the result as a Python list
from pyspark.sql.functions import regexp_replace

listings_with_price = listings \
  .withColumn('price_numeric', regexp_replace('price', '[$,]', '').cast('float'))

res = listings_with_price.filter(
    (listings_with_price.price_numeric > 5000)
) \
.select('name', 'price') \
.collect()

res

[Row(name='Room in a cosy flat. Central, clean', price='$8,000.00'),
 Row(name='Spacious Private Ground Floor Room', price='$6,308.00'),
 Row(name='No Longer Available', price='$53,588.00'),
 Row(name='Bright & airy DoubleBed with EnSuite in Zone 2!', price='$74,100.00'),
 Row(name='Stunning home overlook canary wharf', price='$7,360.00'),
 Row(name='The Apartments by The Sloane Club, L 2 Bedroom Apt', price='$7,377.00'),
 Row(name='Kensington- Luxury 2 bedroom ground floor flat', price='$7,796.00'),
 Row(name='Spacious London Flat', price='$5,034.00'),
 Row(name='Single room. 7ft x 9ft - Over looking garden', price='$5,700.00'),
 Row(name='Luxury modern apartment in Dulwich Village', price='$5,372.00'),
 Row(name='Beautiful 2 BR flat in Kilburn with free parking', price='$6,000.00'),
 Row(name='Semi-detached mews house in Knightsbridge.', price='$7,007.00'),
 Row(name='Bright & Comfortable Angel Apartment', price='$9,999.00'),
 Row(name='Affordable Spacious  Room on the edge of the city', price='$6,000.00'),
 Row(name='Beautiful 3 bed refurbished apartment', price='$9,000.00'),
 Row(name='—', price='$22,824.00'),
 Row(name='Henry’s Townhouse, London', price='$6,500.00'),
 Row(name='SHORT WALK TO LONDON EYE - DOUBLE ROOM (SUR)', price='$50,000.00'),
 Row(name='SHORT WALK TO LONDON EYE - DOUBLE ROOM (SWI)', price='$9,033.00'),
 Row(name='The Presidential - 6 bed - stunning elegance', price='$6,000.00'),
 Row(name='Grosvenor Penthouse', price='$11,681.00'),
 Row(name='Walk To London Eye - Double Room (FIL)', price='$29,000.00'),
 Row(name='Resolve Apartment', price='$5,240.00'),
 Row(name='Very Large and Splendid Terrace House in London', price='$8,000.00'),
 Row(name='Twin Room Close to London Eye (RHI)', price='$50,000.00'),
 Row(name='Short Walk to London Eye (8V1)', price='$23,000.00'),
 Row(name='Foxter Properties Chelsea', price='$12,000.00'),
 Row(name='Close To London Eye', price='$8,000.00'),
 Row(name='Close To London Eye', price='$20,000.00'),
 Row(name='Close To London Eye', price='$65,000.00'),
 Row(name='Close to London Eye (BOL)', price='$58,000.00'),
 Row(name='Maida Vale, Modern 1 Bed Apt, Sleeps 4, London.', price='$5,175.00'),
 Row(name='Contemporary Oasis in Paddington II', price='$9,999.00'),
 Row(name='1. V02 Large Apartment; next to Piccadilly Circus!', price='$6,400.00'),
 Row(name='Modern Sky-High Flat In North Acton', price='$9,999.00'),
 Row(name='Spacious and Trendy Shoreditch Flat', price='$6,000.00'),
 Row(name='Zone 1 - Central London (JAM)', price='$22,000.00'),
 Row(name='Your Elite Hyde Park Retreat 2-Bedroom Luxury Flat', price='$10,890.00'),
 Row(name='CentralLondon Luxury for 5! 1Min from Paddington', price='$9,680.00'),
 Row(name='Very Close to The London Eye', price='$20,000.00'),
 Row(name='Spacious, airy penthouse with stunning view', price='$27,000.00'),
 Row(name='20% Off Monthly Business Relocation Stays Belsize', price='$15,000.00'),
 Row(name='Ultra Luxe 4 Bed flat in Mayfair', price='$6,000.00'),
 Row(name='Close to The Shard (TAI)', price='$10,001.00'),
 Row(name='London luxury.', price='$8,400.00'),
 Row(name='The Artists House', price='$15,143.00'),
 Row(name='Walk To London Eye (BLZ)', price='$30,000.00'),
 Row(name='Luxury Grade II Listed Mansion', price='$11,792.00'),
 Row(name='Modern apartment Central London', price='$8,910.00'),
 Row(name='Rustic and Contemporary Haven in Brixton', price='$9,999.00'),
 Row(name='Tranquil 2 Bedroom Apartment in East London', price='$9,999.00'),
 Row(name='Outdoor kitchen', price='$7,033.00'),
 Row(name='Retro Charm and Modern Comforts', price='$7,999.00'),
 Row(name='Charmante Wohnung mit Balkon', price='$8,429.00'),
 Row(name='Silverings', price='$9,999.00'),
 Row(name='Penthouse in the City of London', price='$9,000.00'),
 Row(name='Very Central Room - Walk to Eye', price='$58,000.00'),
 Row(name='Central Room - Walk to Eye (KR)', price='$50,000.00'),
 Row(name='Walk To London Eye', price='$5,600.00'),
 Row(name='Walk To London Eye', price='$58,000.00'),
 Row(name='The Prince Albert', price='$7,953.00'),
 Row(name='Adagio - Apartment 4 people - 1 bedroom', price='$6,537.00'),
 Row(name='Amazing Central Location (NBOL)', price='$58,000.00'),
 Row(name='Corporate ready - Combination of Flats  - Up to 56', price='$8,175.00'),
 Row(name='5 Flats in Building | Zone 1 | 20 Guests | 10 Beds', price='$7,677.00'),
 Row(name='Student Only, En-suite Room at South Bank', price='$8,000.00'),
 Row(name='Standard Double Room Near Ebury Square Gardens LON', price='$11,952.00'),
 Row(name='Ferienwohnung für 4 Personen ca. 80 m sup2 in.', price='$8,429.00'),
 Row(name='Notting Hill The One One One 3', price='$8,429.00'),
 Row(name='Notting Hill Die Eins Eins Eins 6', price='$8,429.00'),
 Row(name='Notting Hill Die Eins Eins Eins 1', price='$8,429.00'),
 Row(name='Atemberaubende Wohnung, in der Nähe von East.', price='$8,429.00'),
 Row(name='Notting Hill Die Eins Eins Eins 5', price='$8,429.00'),
 Row(name='Notting Hill Die Eins Eins Eins 4', price='$8,429.00'),
 Row(name='Ferienwohnung für 4 Personen ca. 80 m sup2 in.', price='$8,429.00'),
 Row(name='Studio Near JustPark LON', price='$11,952.00'),
 Row(name='1 Bedroom Apartment Near JustPark LON', price='$11,952.00'),
 Row(name='1 Bedroom Apartment Near Wakefield Gardens LON', price='$11,952.00'),
 Row(name="Stylish Earl's Court Studio Plus Patio", price='$9,999.00'),
 Row(name='Classic Double Room Near Franks Church LON', price='$11,952.00'),
 Row(name='Luxury Hotel Style 2 bed Apartment in Notting Hill', price='$8,441.00'),
 Row(name='Luxury House near Hyde Park', price='$5,361.00')]

In [8]:
# 5. Get a list of properties with the following characteristics:
# * price < 150
# * more than 20 reviews
# * review_scores_rating > 4.5
# Consider using the "&" operator

listings_with_price.filter(
    (listings_with_price.price_numeric < 150) &
    (listings_with_price.number_of_reviews > 20) &
    (listings_with_price.review_scores_rating > 4.5)
  ) \
.select('name', 'price_numeric', 'number_of_reviews', 'review_scores_rating') \
.show(truncate=False)

+--------------------------------------------------+-------------+-----------------+--------------------+
|name                                              |price_numeric|number_of_reviews|review_scores_rating|
+--------------------------------------------------+-------------+-----------------+--------------------+
|One Bedroom Apartment                             |98.0         |24               |4.58                |
|Refurbished Two Bedroom Apartment                 |144.0        |36               |4.64                |
|Central London with Stunning Views!               |62.0         |532              |4.9                 |
|Also five minutes to South Bank                   |66.0         |563              |4.63                |
|Patio Apartment in London (Twickenham)            |73.0         |88               |4.64                |
|Lovely 2 bedroom flat near Brixton, zone 2, London|135.0        |23               |4.77                |
|Hackney Stylish & light 1 bedroom Victorian flat  |129.0        |152              |4.65                |
|Boutique Room w/ Private Bath, Balcony            |70.0         |208              |4.98                |
|Holiday London DB Room Let-on going               |72.0         |54               |4.85                |
|Bright Chelsea  Apartment. Chelsea!               |120.0        |97               |4.8                 |
|You are GUARANTEED to love this                   |74.0         |717              |4.87                |
|Large double bedroom in Shoreditch w/garden       |104.0        |39               |4.9                 |
|Bright Double + workspace in spacious Garden Flat |51.0         |246              |4.75                |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |52.0         |71               |4.97                |
|Room with a view, shared flat,  central  Bankside |75.0         |133              |4.69                |
|You Will Save Money Here                          |55.0         |625              |4.89                |
|Spacious luxury 2 bedroom apartment               |94.0         |25               |4.6                 |
|Stylish apartment in trendy Dalston               |112.0        |36               |4.86                |
|A people person awaits you here!                  |48.0         |78               |4.9                 |
|Quiet Comfortable Room in Fulham                  |47.0         |253              |4.73                |
+--------------------------------------------------+-------------+-----------------+--------------------+
only showing top 20 rows