In [0]:
data = [
    ('John','Sales',10000),
    ('Mary','Sales',20000),
    ('Steve','IT',30000),
    ('Sara','IT',40000),
    ('Paul','Marketing',50000),
    ('Sue','Marketing',60000),
    ('Mike','Engineering',70000),
    ('Jane','Engineering',80000),
    ('Bill','Engineering',90000),
    ('Mary','Engineering',100000),
    ('John','Engineering',110000),
    ('Mary','Engineering',120000),
    ('Steve','Engineering',130000),
    ('Sara','Engineering',140000)
]
columns= ['name','dept','salary']
df = spark.createDataFrame(data,columns)
display(df)

In [0]:
df.createOrReplaceTempView("employees")

In [0]:
%sql
select * from employees;

In [0]:
%sql
select *, row_number() over(partition by dept order by salary desc) as rn from employees;

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

w = Window.partitionBy("dept").orderBy(col("salary").desc())
df.withColumn("rank", row_number().over(w)).display()