## Sparksession Setup

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder \
    .appName("SparkSQL App") \
    .getOrCreate()

### Loading Data

In [3]:
listings = spark.read.csv("../data/listings.csv.gz", 
    header=True,
    inferSchema=True,
    sep=",",
    quote='"',
    escape='"',
    multiLine=True,
    mode="PERMISSIVE"
)

In [5]:
reviews = spark.read.csv("../data/reviews.csv.gz", 
    header=True,
    inferSchema=True,
    sep=",",
    quote='"',
    escape='"',
    multiLine=True,
    mode="PERMISSIVE"
)

In [6]:
listings_reviews = listings.join(
    reviews, listings.id == reviews.listing_id, how='inner'
)

In [7]:
reviews_per_listing = listings_reviews \
  .groupBy(listings.id, listings.name) \
  .agg(
    F.count(reviews.id).alias('num_reviews')
  ) \
  .orderBy('num_reviews', ascending=False) \
  .show(truncate=False)

+--------+--------------------------------------------------+-----------+
|id      |name                                              |num_reviews|
+--------+--------------------------------------------------+-----------+
|47408549|Double Room+ Ensuite                              |1855       |
|30760930|Double Garden View room - London House Hotel***   |1682       |
|43120947|Private double room with en suite facilities      |1615       |
|19670926|Locke Studio Apartment at Leman Locke             |1436       |
|45006692|Budget Double Room In Colliers Hotel.             |1433       |
|1436172 |Cosy Double in Kings Cross Houseshare nr Eurostar |1195       |
|2126708 |London's best transport hub 5 mins walk! Safe too!|1122       |
|1436177 |En-suite Double in Kings Cross Houseshare Eurostar|1005       |
|47438714|KX Basic- Small Double- shared bathroom           |978        |
|3855375 |Double in Kings Cross Houseshare nr Eurostar      |973        |
|46233904|Superior Studio, avg size 23.5 msq                |964        |
|2659707 |Large Room + Private Bathroom, E3.                |963        |
|4748665 |Single bedroom near London Stratford              |917        |
|27833488|S - Heathrow Airport Terminal 2 3 4 5 Hatton Cross|914        |
|42081759|Micro Studio at Locke at Broken Wharf             |899        |
|5266466 |Large London Room, Ensuite Bathroom,TV & Breakfast|885        |
|2025844 |Family Friendly Central London Flat               |840        |
|4332039 |Single bedroom in old East London                 |830        |
|4461052 |Bright room with private bath by London central!  |804        |
|107051  |JESSIE the narrowboat in Little Venice            |775        |
+--------+--------------------------------------------------+-----------+
only showing top 20 rows

### Creating View

In [8]:
listings.createOrReplaceTempView("listings")
reviews.createOrReplaceTempView("reviews")