In [0]:
create table test_1(id INT, name STRING);

describe table test_1;

SELECT * FROM test_1;

insert into test_1 values(1, 'Record1');
insert into test_1 values(2, 'Record2');
insert into test_1 values(3, 'Record3');
insert into test_1 values(4, 'Record4');
insert into test_1 values(5, 'Record5');

create table test_2 as (select * from test_1);

select * from test_2;