In [0]:
WITH station_names AS (
    SELECT
        station_id,
        station_name
    FROM
        station_data
),
journey_data AS (
    SELECT
        ride_id,
        start_station_id,
        end_station_id
    FROM
        course_project.citibike.jc_bike_data_22
),
journey_with_names AS (
    SELECT
        j.ride_id,
        CONCAT(s1.station_name, ' TO ', s2.station_name) AS journey
    FROM
        journey_data j
    JOIN
        station_names s1 ON j.start_station_id = s1.station_id
    JOIN
        station_names s2 ON j.end_station_id = s2.station_id
)
SELECT
    journey,
    COUNT(*) AS total_journeys
FROM
    journey_with_names
GROUP BY
    journey
ORDER BY
    total_journeys DESC;

-- Another Version
select
count(ride_id) as total_rides,
concat(start_station, ' TO ', end_station) as start_end_station
from
(select 
t1.ride_id,
t2.station_name as start_station,
t3.station_name as end_station
from jc_bike_data_22 as t1
left join station_data as t2
on t1.start_station_id = t2.station_id
left join station_data as t3
on t1.end_station_id = t3.station_id)
group by concat(start_station, ' TO ', end_station)
order by total_rides desc;